
<%#= link_to 'Add feed', new_feed_path %>
<div class="container_article">
<center>  <h2>Feed me!</h2> </center>

<div class="container_body">
<h3>Add a new feed</h3>
<div class="add_new_feed">
  <%= form_for :feed, url: feeds_path do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div><br>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_area :url %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div




<br><br>
    <h3>Active feeds</h3>
    <table>
      <tr><th>Name</div></th>
        <th>Remove?</th>
      </tr>

      <% @feeds.each do |feed| %>
        <tr>
          <td><%= feed.name %></td>
          <td><%= link_to 'Kill me!', feed_path(feed), method: :delete, data: { confirm: 'Are you sure you want to delete ' + feed.name + '?' } %></td>
        </tr>
      <% end %>

    </table>
    <center>
      <%= link_to 'DB seed refresh', '/refresh' %>


<a href="/">Go to feeds</a></center>

  <% end %>

</div>
</div>
</div>
